@charset "UTF-8";

	*{
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none;
	}
	
	#bigBox{
		width: 100%;
		height: 150px;
		background: white;
	}
	
	#sub_Box01{
		width: 100%;
		height: 150px;
		background: red;
		display: none;
	}
	
	#sub_Box02{
		width: 100%;
		height: 150px;
		background: blue;
		display: none;
	}
	
	#bigBox>ul>li:nth-child(3)>img{
		width: 100%;
		height: 150px;
		margin: 0 auto;
	}	
	
	#header{
		width: 1300px;
		height: 150px;
		background: yellow;
		text-align: center;
		line-height: 150PX;
		margin: 0 auto;
		
	}
	
	#slide_box{
		width: 1000px;
		height: 500px;
		background: orchid;
		margin: 0 auto;
	}
	
	#sub_header{
		width: 800px;
		height: 150px;
		background: yellow;
		text-align: center;
		line-height: 150PX;
		margin: 0 auto;
		display:block;
	}
	
	
	.menu{
		width: 260px;
		height: 150px;
		background: white;
		float: left;
		font-size: 25px;

	}
	.sub_menu{
		width: 200px;
		height: 100px;
		float: left;
	}
	
	.menu:hover{
		color: red;
	}
	
	.img_size{
		width: 1200px;
		height: 500px;
	}
	
	#body_box{
		width: 100%;
		height: 5000px;
	}